@img-prefix: "/assets/images";

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 100%;
}

#homepage {
    background: url("@{img-prefix}/football.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100%;
}

.container {

    width: 1024px;
    margin: 0 auto;
}

#content {
    padding: 30px 20px;
    text-align: center;
    box-sizing: border-box;
    min-height: 100%;
    background-color: rgba(255, 255, 255, .90);
}

h1 {
    color: green;
    font-size: 4em;
    font-weight: 800;
    letter-spacing: -2px;
}

h3 {
    font-size: 1.6em;
    margin-bottom: 12px;
}

.group {
    margin-bottom: 20px;



    ul li {
        display: inline-block;

        a {
            text-decoration: none;
            padding: 4px 8px;
        }
    }
}