<section id="groups">

  <div class="group" ng-repeat="(id, countries) in groups">
    <h3>Group {{id}}</h3>
    <ul>
      <li ng-repeat="country in countries">
        <a href="#/country/{{country}}">{{country}}</a>
      </li>
    </ul>
  </div>

</section>