@(group: models.Group)

@main("Group ") {

    <h1>Group @group.id</h1>

    <h3>Teams</h3>

    <ul>
      @for(country <- group.countries) {
      <li>@country</li>
      }
    </ul>

    <h3>Fixures</h3>

    <ul>
      @for(fixture <- group.fixtures) {
      <li>@fixture.title</li>
      }
    </ul>
}